/* add custom styles */
table {
  width: 80%;
  text-align: right;
  margin-top: 30px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;

}

h2{
  text-align: center;
}

td{
  vertical-align: middle;
}

th{
  text-align: right;
}

input{
  text-align: right;
  margin-left: 30px;
  width: 90% !important;
}

